BasedOnStyle: LLVM
Language: C

# Indentation
IndentWidth: 8
ContinuationIndentWidth: 8
UseTab: Always
TabWidth: 8

# Braces
BreakBeforeBraces: Linux
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: false
  AfterEnum: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeElse: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

# Function formatting
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

# Control statements
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpaceAfterCStyleCast: false

# Alignment
AlignAfterOpenBracket: DontAlign
AlignOperands: false
AlignTrailingComments: false
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false

# Line breaking
ColumnLimit: 100
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
BreakStringLiterals: false

# Pointer style
PointerAlignment: Left
DerivePointerAlignment: false

# Includes
SortIncludes: false
IncludeBlocks: Preserve

# Comments
ReflowComments: false
CommentPragmas: '^ IWYU pragma:'

# Whitespace
SpaceBeforeAssignmentOperators: true
SpacesInAngles: false
SpacesInContainerLiterals: false
SpacesInConditionalStatement: false

# Case labels
IndentCaseLabels: false

# Preprocessor
IndentPPDirectives: None

# Misc
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
